# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Eclipse 空间站\mr\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
